NEXT_PUBLIC_SUPABASE_URL=https://qphknepkmxsuccqebtwx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_HQe6S7sr7qCJaorbTSNqpQ_7NxTK20w
NEXT_PUBLIC_OCR_API_URL=https://simple-be-ocr-production.up.railway.app